
<div class="jumbotron">
  <div class="container">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <a href="#" class="btn btn-primary">Read more</a>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3>Latest events</h3>
      <p>Yabadabadoo placeholder text here with a pinch of random text and a little bit of extra words op top.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <img class="img-responsive" src="http://6798-presscdn-0-89.pagely.netdna-cdn.com/wp-content/uploads/2015/03/NJ-Tech-Meetup_Hoboken-e1425935269237.jpeg" alt="A group of people at a meeting">
      <p>This is the first column with text and more information.</p>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="http://6798-presscdn-0-89.pagely.netdna-cdn.com/wp-content/uploads/2015/03/NJ-Tech-Meetup_Hoboken-e1425935269237.jpeg" alt="A group of people at a meeting">
      <p>This is the second column with text and more information.</p>
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" src="http://6798-presscdn-0-89.pagely.netdna-cdn.com/wp-content/uploads/2015/03/NJ-Tech-Meetup_Hoboken-e1425935269237.jpeg" alt="A group of people at a meeting">
      <p>This is the third column with text and more information.</p>
    </div>
  </div>
</section>
